$color1: #263141;
$color2: #fcfcfc;
$color3: #f3c5c2;
$color4: #eb8f88;
$color5: #e3594f;

body {
    background-color: $color2;
    padding: 0;
    margin: 0;
}

.nav{
    width: 100%;
    height: 8%;
    border-bottom: 2px solid $color4;
    border-bottom-right-radius: 2px;
    display: flex;
    background-color: $color1;

    .logo{
       background: -webkit-linear-gradient(45deg, $color3, $color5);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
        &:hover{
                   background: -webkit-linear-gradient(60deg, $color2, $color5);
                    -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     border-bottom: $color5 1px solid;
                }
    }
    

    ul{
        display: flex;
        width: 100%;
        gap: 2%;
        justify-content: flex-end;
        align-items: center;
        
        li {
            list-style-type: none;
          
            a{
                color: $color4;
                text-decoration: none; 
                font-size: x-large;
                &:hover{
                   background: -webkit-linear-gradient(45deg, $color2, $color5);
                    -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     border-bottom: $color4 1px solid;
                }
            }
        }

    }
}

.landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color1;

    h1{
         background: -webkit-linear-gradient(45deg, $color2, $color5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }
    p{
        color: $color2;
    }
}